body {
  font-family: 'Rubik';
  background-color: $gray;
  color: $custom-green;
  transition: all .5s;
  user-select: none;
}
h1 {
  text-align: center;
}

.logo-css {
  width: 100%;
  min-height: 10px;
  height:500px;
  background-image: url('../img/swedencopy.svg');
  background-repeat: no-repeat;
}