doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Быстрый запуск Webpack'
  body
    .main-wrapper
      .container
        .wrapper
          h1.caption Файл откомпилирован шаблонизатором Pug
          .logo.logo-png
            img.logo1(src=require('./img/cat2.png') alt='Загрузка PNG изображений с помощью Webpack')
          .logo.logo-svg
            img.logo2(src=require('./img/super-cat.jpg'), alt='Загрузка SVG изображений с помощью Webpack')
          .logo.logo-css  